/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1 {
    margin-top: 20px;
    font-size: 2em;
    color: #333;
}

/* Container Styles */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

/* Header Styles */
.header {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
}

.inputSection {
    margin-top: 20px;
}


.input-header select,
.input-header input {
    margin: 10px 0;
    padding: 10px;
    width: calc(100% - 20px);
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}


.inputSngs label {
    display: block;
    margin-top: 10px;
    text-align: left;
}

.inputSngs input {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button-container {
    margin-top: 10px;
}

.button-container button {
    padding: 10px 15px;
    font-size: 1.2em;
    color: #fff;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-container button:hover {
    background-color: #218838;
}

.btnGen {
    margin-top: 20px;
}

.btnGen button {
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btnGen button:hover {
    background-color: #0056b3;
}

.downloadMessage {
    margin-top: 20px;
    font-size: 1em;
    color: #28a745;
}

.error-border {
    border: 2px solid red;
}

/* Error Message Styles */
#error-message {
    color: red;
    margin-top: 10px;
}

.autocomplete-dropdown {
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    z-index: 100;
    width: 300px; /* Adjust width as necessary */
    display: none;
}

.autocomplete-dropdown div {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-dropdown div:hover {
    background-color: #f1f1f1;
}



/* Responsive Styles */
@media (min-width: 768px) {
    .container {
        padding: 40px;
    }

    .header {
        padding: 40px;
    }

    .input-header select,
    .input-header input,
    .inputSngs input {
        font-size: 1em;
    }

    .button-container button,
    .btnGen button {
        font-size: 1em;
    }
}


